footer{

    background-color: rgb(23, 171, 179);
    color: rgb(255, 255, 255);
    position: relative;
    font-weight:300;
    padding-top: 10px;
    
    
    
}

.social_medias{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 50px;
    gap: 25px;
}

.social_medias ul{
    list-style-position: inside;

}

.linkeldin li{
    content: "";
    width: 25px;
    height: 25px;
    mask: url("../../icons/linkeldin.svg");
    background-color: rgb(255, 255, 255);
    left: 0;
    top: 0;
    opacity: 1;
    transition:opacity 180ms ease, transform 180ms ease ;

}

.github li{
    content: "";  
    width: 25px;
    height: 25px;
    mask: url("../../icons/github.svg");
    background-color: rgb(255, 255, 255);
    left: 0;
    top: 0;
    opacity: 1;
    transition:opacity 180ms ease, transform 180ms ease ;
}

.instagram li{
    content: "";
    width: 25px;
    height: 25px;
    mask: url("../../icons/instagram.svg");
    background-color: rgb(255, 255, 255);
    left: 0;
    top: 0;
    opacity: 1;
    transition:opacity 180ms ease, transform 180ms ease ;
    
}

.linkeldin li:hover{
    opacity: 0.7;
}

.github li:hover{
    opacity: 0.7;
}

.instagram li:hover{
    opacity: 0.7;
}

.maj{
    position: absolute;
    font-style:italic;
    
    
}


.bottom{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
    margin-right: 70px;
    padding-bottom: 15px;
}