@font-face {
    font-family: "Raleway";
    src: url(../fonts/Raleway/);
}


body{
    max-width: 1160px;
    width:1160px;
    max-height: 500px;
    height: auto;
    margin: auto;
    border: auto;
    font-family: 'Lato', "Raleway"; 
    background:rgb(245, 245, 245);
    
}




h3{
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(210, 210, 210);
}

main{
    display: flex;
    background-color: rgb(255, 255, 255);
    height: auto;

}